@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;

  & .scoreBoard {
    width: 60%;
    margin: 0 auto;
    display: flex;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.29);
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 64px;

    & .rpsTitle {

      & h2 {
        color: #FFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
        font-family: "Barlow Semi Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 3px;
      }

    }

    & .score {
      background: #FFF;
      padding: 5px 40px;
      border-radius: 5px;
      transition: transform 0.6s;

      & h4 {
        color: #2a46c2;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
        font-family: "Barlow Semi Condensed";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 3px;
      }

      & h2 {
        text-align: center;
        color: #565468;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
        font-family: "Barlow Semi Condensed";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 3px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  & .choiceScreen {
    display: flex;
    flex-direction: column;
    
    & .firstGroup {
      display: flex;
      margin: 0 auto;
      gap: 80px;
      margin-bottom: 24px;
      animation: grow 2s ease-in-out;

      & img {
        cursor: pointer;
        transition: transform 1s;

        &:hover {
          transform: scale(1.3);
        }
      } 
    }

    & .secondGroup {
      display: flex;
      margin: 0 auto;
      gap: 80px;
      margin-bottom: 24px;
      animation: grow 2s ease-in-out;

      & img {
        cursor: pointer;
        transition: transform 1s;

        &:hover {
          transform: scale(1.3);
        }
      }  
    }

    & .triangle {
      position: absolute;
      z-index: -1;
      top: 35%;
      left: 38%;
      animation: grow 2s ease-in-out;
    }
  }

  & .resultScore {
    display: flex;
    margin: 0 auto;
    gap: 125px;
    margin-bottom: 40px;
    animation: grow 2s ease-in-out;

    & h3, h2 {
      margin-bottom: 60px;
      color: #FFF;
      text-align: center;
      font-family: "Barlow Semi Condensed";
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 2.5px;
    }

    & h2 {
      font-size:56px
    }

    & img {
      display: flex;
      margin: 0 auto;
      transition: transform 1s;

      &:hover {
        transform: scale(1.2);
      }
    }

    & button {
      border-radius: 8px;
      background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
      padding: 12px 36px;
      color: #3B4262;
      font-family: "Barlow Semi Condensed";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 2.5px;
      border: none;
      cursor: pointer;
    }

    & button:hover {
      color: #DB2E4D;
    }

    & .circleLeft {
      width: 42%;
      position: absolute;
      z-index: -1;
      top: 17%;
      left: 1.5%;
    }

    & .circleRight {
      width: 42%;
      position: absolute;
      z-index: -1;
      top: 17%;
      left: 56.7%;
    }

    & .resultAndPlayAgain {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  & .rules {
    display: flex;
    justify-content: flex-end;
    
    & h3 {
      padding: 12px 36px;
      border: 2px solid #FFF;
      border-radius: 8px;
      color: #FFF;
      text-align: center;
      font-family: "Barlow Semi Condensed";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 2.5px;
      cursor: pointer;

      &:hover {
        background: #FFF;
        color: #151e3e;
      }
    }

  }
}

.rulesPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 30px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);

  & .rulesTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    & h2 {
      color: #3c4262;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
      font-family: "Barlow Semi Condensed";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      letter-spacing: 3px; 
    }

    & h1 {
      color: #cfc0d8;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
      font-family: "Barlow Semi Condensed";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      letter-spacing: 3px; 
      cursor: pointer;

      &:hover {
        color: #3c4262;
      }
    }
  }
}

.container.modal-open {
  opacity: 0.5;
  background: #000;
}

@keyframes grow {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); } 
}

@media (width >= 430px) {
  
}